/* * {
    background-color: black;
}
.start {
    position: relative;
    left: 47%;
    top: 400px;
    border: 3px black solid;
    border-radius: 10px;
    background-color: beige;
    cursor: pointer;
}
.start:hover {
    background-color: darkorange;
    font-size: 150%; */
/* } */

.isHidden {
    display: none;
}
/* header {
    display: flex;
    justify-content: center;
    font-family: fantasy;
    font-size: 50px;
    color: burlywood;
    background-color: black;
} */
